:host {
  /* colors */
  --plastic-color: rgba(30, 30, 30, 1);
  --metal-base-color: rgba(230, 232, 235, 1);
  --metal-lightgray-color: rgba(200, 200, 200, 1);
  --metal-darkgray-color: rgba(150, 150, 150, 1);
  --metal-highlight-color: rgba(255, 255, 240, 1);

  /* a good looking metal gradient for large elements */
  --metal-gradient-1: conic-gradient(
    var(--metal-base-color) 0deg,
    var(--metal-highlight-color) 15deg,
    var(--metal-darkgray-color) 30deg,
    var(--metal-lightgray-color) 60deg,
    var(--metal-lightgray-color) 65deg,
    var(--metal-base-color) 70deg,
    var(--metal-highlight-color) 90deg,
    var(--metal-lightgray-color) 105deg,
    var(--metal-base-color) 120deg,
    var(--metal-darkgray-color) 135deg,
    var(--metal-darkgray-color) 210deg,
    var(--metal-base-color) 235deg,
    var(--metal-highlight-color) 250deg,
    var(--metal-lightgray-color) 270deg,
    var(--metal-highlight-color) 285deg,
    var(--metal-base-color) 300deg,
    var(--metal-lightgray-color) 330deg,
    var(--metal-base-color) 360deg
  );
  /* metal gradient that is simpler and symmetrical */
  --metal-gradient-2: conic-gradient(
    var(--metal-darkgray-color) 0deg,
    var(--metal-lightgray-color) 15deg,
    var(--metal-darkgray-color) 30deg,
    var(--metal-darkgray-color) 50deg,
    var(--metal-highlight-color) 75deg,
    var(--metal-highlight-color) 105deg,
    var(--metal-darkgray-color) 130deg,
    var(--metal-darkgray-color) 180deg,
    var(--metal-lightgray-color) 195deg,
    var(--metal-darkgray-color) 210deg,
    var(--metal-darkgray-color) 230deg,
    var(--metal-highlight-color) 255deg,
    var(--metal-highlight-color) 285deg,
    var(--metal-darkgray-color) 315deg,
    var(--metal-darkgray-color) 360deg
  );

  /* sizes */
  --dial-base-size: 100;
  --dial-handle-size: 60;
  --dial-handlecap-size: 50;
  --dial-indicator-scale: 0.7;

  /* overrideable style of the root element */
  display: block;
  border-radius: 50%;
}

.base {
  position: relative;
  width: calc(var(--dial-base-size) * 1px);
  height: calc(var(--dial-base-size) * 1px);
  border-radius: 50%;
  background: var(--metal-gradient-1);
}
.handle {
  position: absolute;
  left: calc((var(--dial-base-size) - var(--dial-handle-size)) / var(--dial-base-size) * 50%);
  top: calc((var(--dial-base-size) - var(--dial-handle-size)) / var(--dial-base-size) * 50%);
  width: calc(var(--dial-handle-size) * 1px);
  height: calc(var(--dial-handle-size) * 1px);
  border-radius: 50%;
  background: var(--plastic-color);
}
.handlecap {
  position: absolute;
  left: calc((var(--dial-handle-size) - var(--dial-handlecap-size)) / var(--dial-handle-size) * 50%);
  top: calc((var(--dial-handle-size) - var(--dial-handlecap-size)) / var(--dial-handle-size) * 50%);
  width: calc(var(--dial-handlecap-size) * 1px);
  height: calc(var(--dial-handlecap-size) * 1px);
  border-radius: 50%;
  background: var(--metal-gradient-2);
}
.indicator {
  position: absolute;
  left: calc(50% - 5px);
  bottom: calc(50% - ((var(--dial-base-size) - var(--dial-handle-size)) / 4 * var(--dial-indicator-scale) * 1px));
  width: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: calc((var(--dial-base-size) - var(--dial-handle-size)) / 2 * var(--dial-indicator-scale) * 1px);
  background: var(--plastic-color);
  /* off-center rotation by the current value in degrees */
  /* the indicator is translated so the bottom lines up with the handle edge */
  /* add 1px to fudge the base of the triangle */
  transform:
    rotate(calc(var(--value) * 1deg))
    translateY(calc(
      (var(--dial-handle-size) * -0.5px) -
      ((var(--dial-base-size) - var(--dial-handle-size)) / 4 * var(--dial-indicator-scale) * 1px) +
      1px
    ));
}

