:host {
  /* colors */
  --plastic-color: rgba(30, 30, 30, 1);
  --metal-base-color: rgba(230, 232, 235, 1);
  --metal-lightgray-color: rgba(200, 200, 200, 1);
  --metal-darkgray-color: rgba(150, 150, 150, 1);
  --metal-highlight-color: rgba(255, 255, 240, 1);
  --metal-gold-color: rgba(240, 200, 40, 1);

  /* a good looking metal gradient for large elements */
  --metal-gradient-1: conic-gradient(
    var(--metal-base-color) 0deg,
    var(--metal-highlight-color) 15deg,
    var(--metal-darkgray-color) 30deg,
    var(--metal-lightgray-color) 60deg,
    var(--metal-lightgray-color) 65deg,
    var(--metal-base-color) 70deg,
    var(--metal-highlight-color) 90deg,
    var(--metal-lightgray-color) 105deg,
    var(--metal-base-color) 120deg,
    var(--metal-darkgray-color) 135deg,
    var(--metal-darkgray-color) 210deg,
    var(--metal-base-color) 235deg,
    var(--metal-highlight-color) 250deg,
    var(--metal-lightgray-color) 270deg,
    var(--metal-highlight-color) 285deg,
    var(--metal-base-color) 300deg,
    var(--metal-lightgray-color) 330deg,
    var(--metal-base-color) 360deg
  );
  /* metal gradient that is simpler and symmetrical */
  --metal-gradient-2: conic-gradient(
    var(--metal-darkgray-color) 0deg,
    var(--metal-lightgray-color) 15deg,
    var(--metal-darkgray-color) 30deg,
    var(--metal-darkgray-color) 50deg,
    var(--metal-highlight-color) 75deg,
    var(--metal-highlight-color) 105deg,
    var(--metal-darkgray-color) 130deg,
    var(--metal-darkgray-color) 180deg,
    var(--metal-lightgray-color) 195deg,
    var(--metal-darkgray-color) 210deg,
    var(--metal-darkgray-color) 230deg,
    var(--metal-highlight-color) 255deg,
    var(--metal-highlight-color) 285deg,
    var(--metal-darkgray-color) 315deg,
    var(--metal-darkgray-color) 360deg
  );

  /* sizes */
  --jack-base-size: 50;
  --jack-rise-size: 40;
  --jack-hole-size: 30;
  --jack-pin-size: 5;

  /* overrideable style of the root element */
  display: block;
  border-radius: 50%;
}

.base {
  position: relative;
  width: calc(var(--jack-base-size) * 1px);
  height: calc(var(--jack-base-size) * 1px);
  border-radius: 50%;
  background: var(--metal-gradient-1);
}
.rise {
  position: absolute;
  left: calc((var(--jack-base-size) - var(--jack-rise-size)) / var(--jack-base-size) * 50%);
  top: calc((var(--jack-base-size) - var(--jack-rise-size)) / var(--jack-base-size) * 50%);
  width: calc(var(--jack-rise-size) * 1px);
  height: calc(var(--jack-rise-size) * 1px);
  border-radius: 50%;
  background: var(--metal-lightgray-color);
}
.hole {
  position: absolute;
  left: calc((var(--jack-rise-size) - var(--jack-hole-size)) / var(--jack-rise-size) * 50%);
  top: calc((var(--jack-rise-size) - var(--jack-hole-size)) / var(--jack-rise-size) * 50%);
  width: calc(var(--jack-hole-size) * 1px);
  height: calc(var(--jack-hole-size) * 1px);
  border-radius: 50%;
  background: var(--plastic-color);
}
.pin {
  position: absolute;
  left: calc((var(--jack-hole-size) - var(--jack-pin-size)) / var(--jack-hole-size) * 50%);
  top: calc((var(--jack-hole-size) - var(--jack-pin-size)) / var(--jack-hole-size) * 50%);
  width: calc(var(--jack-pin-size) * 1px);
  height: calc(var(--jack-pin-size) * 1px);
  border-radius: 50%;
  background: var(--metal-gold-color);
}
