:host {
  --bump-color: black;
  --bump-checked-color: red;
  --middle-background-color: rgba(200, 208, 215, 1);
  --middle-checked-background-color: rgba(255, 240, 240, 1);
  --outer-background-color: rgba(110, 108, 105, 1);
  --outer-now-background-color: rgba(200, 200, 250, 1);
  --outer-checked-now-background-color: rgba(255, 128, 128, 1);

  /* overrideable style of the root element */
  display: block;
  border-radius: 10% 10% 25% 25%;
}

/* center lights up white */
.outerdiv .base {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(110, 108, 105, 1);
  border-radius: 10% 10% 25% 25%;
}
.outerdiv[data-pressed = true][data-now = true] .base {
  background: rgba(255, 128, 128, 1);
}
.outerdiv[data-now = true] .base {
  background: rgba(200, 200, 230, 1);
}
.outerdiv[data-pressed = true] .base {
  background: rgba(160, 128, 128, 1);
}
.outerdiv .outline {
  position: absolute;
  background: rgba(200, 208, 215, 1);
  border-radius: 10% 10% 25% 25%;
  border: 1px solid black;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}
.outerdiv[data-pressed = true] .outline {
  background: rgba(255, 240, 240, 1);
}
.outerdiv .bump {
  position: absolute;
  top: 80%;
  bottom: calc(20% - 2px);
  left: calc(1/3 * 100%);
  right: calc(1/3 * 100%);
  background: black;
}
.outerdiv[data-pressed = true] .bump {
  background: red;
  box-shadow: 0 0 2px 0 red;
}
.outerdiv .label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  transform: translate(0%, 50%);
  text-align: center;
  line-height: 0;
  font-size: 16pt;
  font-family: sans-serif;
  user-select: none;
}
