/*
sequencer keys can be pressed down
sequencer keys can also be the current time in the running sequence
maybe combination of style 2 and 3, press=background, now=led dot
maybe now=outer background layer, color can encode waveform information
*/

.keystyle1, .keystyle2, .keystyle3 {
  display: inline-block;
  margin: 10px;
}

/* entire key lights up red */
.keystyle1 .base {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(210, 208, 205, 1);
  border-radius: 10% 10% 25% 25%;
}
.keystyle1[data-pressed = true] .base {
  background: rgba(250, 232, 235, 1);
}
.keystyle1 .outline {
  position: absolute;
  border-radius: 10% 10% 25% 25%;
  border: 1px solid black;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.keystyle1[data-pressed = true] .outline {
  border: 1px solid red;
  box-shadow:
    inset 0 0 2px 0 red,
    0 0 2px 0 red;
}
.keystyle1 .bump {
  position: absolute;
  top: 80%;
  bottom: calc(20% - 2px);
  left: calc(1/3 * 100%);
  right: calc(1/3 * 100%);
  background: black;
}
.keystyle1[data-pressed = true] .bump {
  background: red;
}
.keystyle1 .label {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  line-height: 0;
  transform: translate(0%, 50%);
  font-size: 16pt;
  font-family: sans-serif;
  user-select: none;
}
.keystyle1[data-pressed = true] .label {
  color: red;
}

/* center lights up white */
.keystyle2 .base {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(210, 208, 205, 1);
  border-radius: 10% 10% 25% 25%;
}
.keystyle2[data-pressed = true][data-now = true] .base {
  background: white;
}
.keystyle2[data-pressed = false][data-now = true] .base {
  background: darkgray;
}
.keystyle2 .outline {
  position: absolute;
  background: rgba(210, 208, 205, 1);
  border-radius: 10% 10% 25% 25%;
  border: 1px solid black;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.keystyle2[data-pressed = true] .outline {
  background: white;
  border: 1px solid red;
  box-shadow:
    inset 0 0 2px 0 red,
    0 0 2px 0 red;
}
.keystyle2 .bump {
  position: absolute;
  top: 80%;
  bottom: calc(20% - 2px);
  left: calc(1/3 * 100%);
  right: calc(1/3 * 100%);
  background: black;
}
.keystyle2[data-pressed = true] .bump {
  background: red;
  box-shadow: 0 0 1px 0 red;
}
.keystyle2 .label {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  line-height: 0;
  transform: translate(0%, 50%);
  font-size: 16pt;
  font-family: sans-serif;
  user-select: none;
}

/* dot lights up like capslock */
.keystyle3 .base {
  position: relative;
  width: 60px;
  height: 60px;
  background: rgba(210, 208, 205, 1);
  border-radius: 10% 10% 25% 25%;
}
.keystyle3 .outline {
  position: absolute;
  border-radius: 10% 10% 25% 25%;
  border: 1px solid black;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: radial-gradient(circle at calc(100% - 8px) 40%, black 0 3px, rgba(0, 0, 0, 0) 3px 100%);
}
.keystyle3[data-pressed = true] .outline {
  background: radial-gradient(circle at calc(100% - 8px) 40%, red 0 3px, rgba(0, 0, 0, 0) 4px 100%);
}
.keystyle3 .bump {
  position: absolute;
  top: 80%;
  bottom: calc(20% - 2px);
  left: calc(1/3 * 100%);
  right: calc(1/3 * 100%);
  background: black;
}
.keystyle3 .label {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 20%;
  line-height: 0;
  transform: translate(0%, 50%);
  font-size: 16pt;
  font-family: sans-serif;
  user-select: none;
}
